# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. python
2. R
3. scala
4. julia
5. javascript

**Objectives:**

- List popular languages for Data Science.
- Discuss commonly used data science libraries.
- Introduce key tools in the data science ecosystem.
- Provide examples of arithmetic expressions in Python.

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.
6. Scikit-Learn.
7. TensorFlow.
8. Matplotlib.

# Table of Data Science tools
|  Data Science Tools  |
|----------------------|
|R studio              |
|jupyter notebook      |
|watson studio         |

In [6]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
3+4

7

In [5]:
(3*4)+5 
# This a simple arithmetic expression to mutiply then add integer

17

## Author
suraj bisht